CompileFlags:
  CompilationDatabase: build
  Add: 
    - "-Iinc"
    - "-fopenmp"
    - "-std=c11"
  Remove: 
    - "-std=c++*"
    - "-std=gnu++*"
Index:
  Background: Build
Config:
  # 让 clangd 能够自动查询编译器的系统头文件路径
  query-driver: 
    - "D:/msys64/ucrt64/bin/gcc.exe"
    - "D:/msys64/ucrt64/bin/cc.exe"
    - "D:/msys64/ucrt64/bin/g++.exe"
    - "C:/msys64/ucrt64/bin/gcc.exe"
    - "C:/msys64/ucrt64/bin/cc.exe"
    - "/usr/bin/gcc*"
    - "/usr/bin/g++*"
    - "/usr/bin/cc"
